.App {
  text-align: center;
  margin-top: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color:lightskyblue;
  font-family: 'Noto Serif KR', sans-serif;

}

.display-prompt {
  margin-top: 5%;
}

.entry-textarea {
  width: 80%;
  min-height: 250px;
  margin: auto;
  margin-top: 5%;
}

.today-date {
  display: block;
}

.accordion {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

#entrySaveAlert {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 1s linear;
} 

.register-container {
  text-align: center;
  padding: 10%;
}

.register-component {
  margin: auto;
  margin-bottom: 15px;
  width: 60%;
}

.register-input {
  margin: 10px;
}

.logout {
  display: block;
  position: absolute;
  right: 10%;
}

.calendar {
  display: block;
  position: absolute;
  right: 20%;
}

.nav-buttons {
  text-align: right;
}

.previous {
  margin-top: 20px;
  position: absolute;
  left: 10%;
  right: 90%;
}

.next {
  margin-top: 20px;
  position: absolute;
  right: 10%;
}