.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color:lightskyblue;
  font-family: 'Noto Serif KR', sans-serif;

}

.display-prompt {
  margin-top: 5%;
}

.entry-textarea {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 5%;
}

.today-date {
  display: block;
}

.accordion {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
/* .display-date {
  position: absolute;
  margin-left: 10%;
} */


#entrySaveAlert {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 1s linear;
} 