.App {
  text-align: center;
  padding-top: 30px;
}


body {
  background-color:lightskyblue;
  font-family: 'Noto Serif KR', sans-serif;
}

.display-prompt {
  margin-top: 5%;
}

.entry-textarea {
  width: 80%;
  min-height: 250px;
  margin: auto;
  margin-top: 5%;
}

.today-date {
  display: block;
}

.accordion {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

#entrySaveAlert {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 1s linear;
} 

.register-container {
  text-align: center;
  padding: 10%;
}

.register-component {
  margin: auto;
  margin-bottom: 15px;
  width: 60%;
}

.register-input {
  margin: 10px;
}

.logout {
  display: block;
  position: absolute;
  right: 10%;
}

.calendar-button {
  display: block;
  position: absolute;
  right: 20%;
}

.calendar {
  position: absolute;
  right: 20%;
  top: 10%;
  display: none;
}

.nav-buttons {
  text-align: right;
}

.previous {
  margin-top: 20px;
  position: absolute;
  left: 10%;
  right: 90%;
}

.next {
  margin-top: 20px;
  position: absolute;
  right: 10%;
}

.today {
  position: absolute;
  left: 10%;
}